<?xml version="1.0" encoding="UTF-8" ?><ResourceDetails><ServerName></ServerName><LauncherName></LauncherName><ExternalBrowser></ExternalBrowser><Mappings><Mapping-Name>bin-debug</Mapping-Name><Location>C:\temp\debug\sequence-builder</Location><ResolveCFC>true</ResolveCFC><Mapping-Name>bin-release</Mapping-Name><Location>I:\dev\sites\pbsmediatech.com\code\sequence_builder</Location><ResolveCFC>true</ResolveCFC></Mappings><VariableMappings></VariableMappings></ResourceDetails>